<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="微分销系统" />
    <meta name="keywords" content="微分销系统" />
    <title>微分销系统_多享出品</title>
    
    <!---------------公共部分--------------->
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/swiper-3.2.5.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/zyUpload.css" />
	<link rel="styleSheet" type="text/css" href="/static/css/layer.css" id="layermcss">
	
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/static/js/swiper-3.2.5.min.js"></script>
	<script type="text/javascript" src="/static/js/layer.js"></script>
    <script type="text/javascript" src="/static/js/ectouch.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.10.1.custom.min.js "></script>
    <script type="text/javascript" src="/static/js/jquery.ui.touch-punch.min.js "></script>
    <script type="text/javascript" src="/static/js/jquery.infinite.js"></script>
    <script type="text/javascript" src="/static/js/template.js"></script>
	
	<!---------------仅个人中心调用--------------->
	<link rel="stylesheet" type="text/css" href="/static/css/usercenter.css" />
</head>

<body class="">

	<!-- 头部 -->
	<header class="header-menu dis-box">
    	<a href="javascript:history.go(-1);"><i class="iconfont">&#xe636;</i></a>
        <h3>收货地址</h3>
        <a href="01首页.html"><i class="iconfont">&#xe621;</i></a>
    </header>

    <!-- 主题内容 -->
	<div class="main">
		
		<div class="flow-consignee-list j-get-consignee-one select-three">
			<section class="flow-checkout-adr">
				<div class="flow-set-adr">
					<!-- 设为默认 -->
					<div class="ect-select fl">
						<label class="dis-box" onclick="">
							<i class="select-btn "></i>
							<span class="t-first margin-lr">
								<a class="ml10 ftx-05 " href="javascript:void(0);">设为默认</a>
							</span>
						</label>
					</div>
					<!-- 操作按钮 -->
					<div class="fr">
						<a href="#"><i class="iconfont icon-bianji">&#xe619;</i>编辑</a>
						<a href="#"><i class="iconfont icon-xiao10">&#xe665;</i>删除</a>
					</div>
				</div>
				
				<!-- 地址信息 -->
				<div class="flow-have-adr padding-all">
					<p class="f-h-adr-title">
						<label>小明</label><span>13551233349</span>
					</p>
					<p class="f-h-adr-con t-remark m-top04">四川成都高新区 天府二街蜀都中心</p>
				</div>
			</section>
			
			<!-- 新增收货人 -->
			<div class="ect-button-more dis-box filter-btn">
				<a href="32收货地址_新增.html" class="btn-submit box-flex">新增收货人信息</a>
			</div>
		</div>
	</div>

</body>
</html>
